<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPT9qC3jzxf_aHBFi47UCaINL6V4Oqbqc</string>
	<key>GCM_SENDER_ID</key>
	<string>1028554283621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.singoloDigital.ct</string>
	<key>PROJECT_ID</key>
	<string>clevertap-db80d</string>
	<key>STORAGE_BUCKET</key>
	<string>clevertap-db80d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028554283621:ios:08805f949755a2b772448c</string>
</dict>
</plist>